<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FactorCalc</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
      <h1>{{ text.title }}</h1>
      <form>
          <div class="form-group">
            <label>{{ text.minTitle }}</label>
            <input type="text" class="form-control" id="num" placeholder="{{text.placeholder}}" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" onclick="pop()">
          </div>
          <button id="btn" type="button" onclick="check()" class="btn btn-info">查询</button>
      </form>
  </div>
</body>
<script>
  function check () {
    let num = document.getElementById('num').value
    if (num === '') {
      $('.form-control').popover({content: '输入不能为空'})
      $('.form-control').popover('show')
      return 
    } else if (isNaN(num)) {
      $('.form-control').popover({content: '输入只能为数字'})
      $('.form-control').popover('show')
      return
    } else {
      let n = parseInt(num)
      if (n < 1 || n > 10000) {
        $('.form-control').popover({content: '输入范围错误'})
        $('.form-control').popover('show')
        return
      }
    }
    window.location = '/' + num
  }
  function pop () {
    $('.form-control').popover('hide')
  }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>